@media screen and (min-width: 1025px) {
    .parts__category__animation__wrapper[data-show='1'] {
        div span {
            @apply bg-blue-400 z-20 block absolute;
            width: 3px;
            border-radius: 10px;
        }

        div[data-order='1'] span {
            height: 2.5rem;
            top: -14%;
            left: 31%;
        }

        div[data-order='2'] span {
            height: 2.5rem;
            bottom: -10%;
            left: 53%;

            &:after {
                @apply bg-blue-400 absolute;
                content: ' ';
                height: 3px;
                width: 2rem;
                bottom: 0%;
            }
        }

        div[data-order='3'] span {
            height: 9rem;
            bottom: -48%;
            left: 92%;

            &:before {
                @apply bg-blue-400 absolute;
                content: ' ';
                height: 3px;
                width: 1rem;
                right: 0;
                top: 0;
            }
        }

        div[data-order='4'] span {
            height: 2rem;
            top: 5%;
            left: 88%;

            &:before {
                @apply bg-blue-400 absolute;
                content: ' ';
                height: 3px;
                width: 1rem;
                bottom: 0;
                right: 0;
            }
        }

        div[data-order='5'] span {
            height: 4.5rem;
            top: -23%;
            left: 67%;
        }

        div[data-order='6'] span {
            height: 2rem;
            top: -7%;
            left: 24%;
        }

        div[data-order='7'] span {
            height: 6.5rem;
            top: -140%;
            left: 118%;

            &:before {
                @apply bg-blue-400 absolute;
                content: ' ';
                width: 1rem;
                height: 3px;
                bottom: 0;
                right: 0;
            }

            &:after {
                @apply bg-blue-400 absolute;
                content: ' ';
                width: 0.5rem;
                border-radius: 10px 0 0 10px;
                height: 3px;
                top: 0;
                right: 0;
            }
        }

        div[data-order='8'] span {
            height: 4rem;
            top: -60%;
            left: 13%;
        }

        div[data-order='9'] span {
            height: 6.5rem;
            top: -123%;
            left: 69%;

        }

        div[data-order='10'] span {
            height: 2rem;
            bottom: -60%;
            left: 249%;

            &:before {
                @apply absolute bg-blue-400;
                content: ' ';
                border-radius: 10px;
                height: 3px;
                width: 8rem;
                right: 0;
            }

            &:after {
                @apply absolute bg-blue-400;
                content: ' ';
                height: 1rem;
                width: 3px;
                left: -7.9rem;
                top: -38%;
            }

        }

        div[data-order='11'] span {
            height: 11rem;
            bottom: -186%;
            left: -5%;

            &:before {
                @apply bg-blue-400 absolute;
                content: ' ';
                width: 1rem;
                height: 3px;
                left: 0;
                top: 0;
            }
        }

        div[data-order='12'] span {
            height: 4rem;
            bottom: -140%;
            left: 34%;

            &:after {
                @apply bg-blue-400 absolute;
                content: ' ';
                height: 3px;
                width: 1rem;
                left: 0;
                bottom: 0;
            }
        }

        div[data-order='13'] span {
            height: 4rem;
            bottom: -7%;
            left: 13%;
        }

        div[data-order='14'] span {
            height: 4rem;
            bottom: -135%;
            left: 250%;

            &:before {
                @apply absolute bg-blue-400;
                content: ' ';
                border-radius: 10px;
                height: 3px;
                width: 5rem;
                right: 0;
            }
        }

        div[data-order='15'] span {
            height: 3rem;
            top: -42%;
            left: 120%;

            &:before {
                @apply bg-blue-400 absolute;
                content: ' ';
                height: 3px;
                width: 1.5rem;
                border-radius: 10px;
                right: 0;
                bottom: 0;
            }
        }
    }

}

@media screen and (max-width: 1025px) {

    .parts__category__animation__wrapper[data-show='1'] {
        div span {
            @apply bg-blue-400 z-20 block absolute;
            width: 3px;
            border-radius: 10px;
        }

        div[data-order='1'] span {
            height: 3.5rem;
            top: -25%;
            left: 31%;
        }

        div[data-order='2'] span {
            height: 2rem;
            bottom: -11%;
            left: 53%;
        }

        div[data-order='3'] span {
            height: 15rem;
            bottom: -102%;
            left: 97%;

            &:before {
                @apply bg-blue-400 absolute;
                content: ' ';
                height: 3px;
                width: 1rem;
                right: 0;
                top: 0;
            }
        }

        div[data-order='4'] span {
            height: 3rem;
            top: -13%;
            left: 88%;

            &:before {
                @apply bg-blue-400 absolute;
                content: ' ';
                height: 3px;
                width: 1rem;
                bottom: 0;
                right: 0;
            }
        }

        div[data-order='5'] span {
            height: 5.7rem;
            top: -56%;
            left: 78%;
        }

        div[data-order='6'] span {
            height: 4rem;
            top: -41%;
            left: 24%;
        }

        div[data-order='7'] span {
            height: 4.5rem;
            top: -72%;
            left: 98%;

            &:before {
                @apply bg-blue-400 absolute;
                content: ' ';
                width: 0.5rem;
                height: 3px;
                bottom: 0;
                right: 0;
            }
        }

        div[data-order='8'] span {
            height: 4rem;
            top: -60%;
            left: 13%;
        }

        div[data-order='9'] span {
            height: 6.5rem;
            top: -123%;
            left: 69%;

        }

        div[data-order='10'] span {
            height: 2rem;
            bottom: -47%;
            left: 155%;

            &:before {
                @apply absolute bg-blue-400;
                content: ' ';
                border-radius: 10px;
                height: 3px;
                width: 4rem;
                right: 0;
            }

            &:after {
                @apply absolute bg-blue-400;
                content: ' ';
                height: 1rem;
                width: 3px;
                left: -3.9rem;
                top: -40%;
            }

        }

        div[data-order='11'] span {
            height: 11.5rem;
            bottom: -198%;
            left: -5%;

            &:before {
                @apply bg-blue-400 absolute;
                content: ' ';
                width: 1rem;
                height: 3px;
                left: 0;
                top: 0;
            }
        }

        div[data-order='12'] span {
            height: 4.5rem;
            bottom: -140%;
            left: 34%;
        }

        div[data-order='13'] span {
            height: 7rem;
            bottom: -24%;
            left: 13%;
        }

        div[data-order='14'] span {
            height: 4rem;
            bottom: -159%;
            left: 190%;

            &:before {
                @apply absolute bg-blue-400;
                content: ' ';
                border-radius: 10px;
                height: 3px;
                width: 4rem;
                right: 0;
            }

            &:after{
                @apply absolute bg-blue-400;
                content: ' ';
                border-radius: 10px;
                height: 1.5rem;
                width: 3px;
                left:-3.9rem;
                top:-33%;
            }
        }

        div[data-order='15'] span {
            height: 3.5rem;
            top: -90%;
            left: 49%;
        }
    }

}

